.Dropdown {

  background-color: var(--dark-purple);
  overflow-y: scroll;
}

.Dropdown::-webkit-scrollbar {
  display: none;
}

.Dropdown { /*Hide scrollbar on IE, Edge & Firefox*/
  -ms-overflow-style: none;
  scrollbar-width: none;
}