.Footer {
  height: 100px; 
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-item:not(:first-child) {
  border-left: 1px solid white;
}

.Footer-link:hover {
  color: var(--primary-blue)!important;
  text-decoration: underline!important;
}
  
footer table {
  margin: auto;
}
  
footer td {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 576px) {
  .Footer {
    margin-left: 25%;
  }
}

@media screen and (min-width: 768px) {
  .Footer {
    font-size: 15px;
  }
}