.Footer {
  height: 100px; 
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-item:not(:first-child) {
  border-left: 1px solid white;
}

.Footer-link:hover {
  color: var(--primary-blue)!important;
  text-decoration: underline!important;
}
  
nav table {
  margin: auto;
}
  
nav td {
  padding-left: 10px;
  padding-right: 10px;
}


@media only screen and (min-width: 576px) {
    /* For desktop: */
    .Footer {
        font-size: 15px;
        margin-left: 25%;
      }
}