.Header{
  height: 80px;
}

.Header-logo{
  font-size: 2rem;
}

.Header-button{
  margin: 6px;
}

.Header-button-icon{
  position: relative;
  bottom: 2px;
  left: 0.5px;
}

@media screen and (min-width: 576px) {
  .Header{
    display: none;
  }
}