:root {
  --inner-grey: #212121;
  --outer-grey: #171717;

  --outer-trim: #2e0008;
 
  --grey-color: #a1a1a1;
  --dark-purple: #130036;

  --primary-blue: #0d6efd;
  --success-green: #28a745;
  --warning-yellow: #ffc107;
--danger-red: #DC3545;
}

html, body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.white-text{
  color: white;
}

.background-purple{
  background-color: var(--dark-purple);
}

.Icon{
  position: relative;
  bottom: 2px;
}
