:root {
  --light-grey-color: #dedede;
  --purple: #130036;
  --dark-purple: #080018;
  --primary-blue: #0d6efd;
  --success-green: #28a745;
  --warning-yellow: #ffc107;
  --danger-red-hover: #bb2d3b;
  --danger-red: #DC3545;
}

html, body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white-text{
  color: white;
}

.background-purple{
  background-color: var(--purple);
}

.cursor-pointer{
  cursor: pointer;
}

.Icon{
  position: relative;
  bottom: 2px;
}
