.New-todo-form{
  width: 70%;
  margin: auto;
  background-color: var(--light-grey-color);
  border-radius: 5px;
}

/*Mobile size*/
@media screen and (min-width: 576px) {
/*.New-todo-form{
margin-top: 0px;
}*/
}