.Nav-item{
   /* border: 1px solid white; */
     padding: 0;
}



.Nav-item {
  display: block;
  color: black;
  /*padding: 16px;*/
  text-decoration: none;
}

.Nav-item.active {
  background-color: #04AA6D;
  color: white;
}

 .Nav-item:hover:not(.active) {
  background-color: #555;
  color: white;
}