.Base-wrapper {
  min-height: 85vh;
  margin-left: 0;
  padding-top: 20px;
  border-top: 1px solid white;
}

.Base-body {
  margin: auto;
  width: 90%!important;
}

@media screen and (min-width: 576px) {
  .Base-body{
    width: 80%!important;
  }
  .Base-wrapper {
    margin-left: 25%;
  }
}
  
@media screen and (min-width: 768px) {
  .Base-body{
    width: 65%!important;
  }
}
  
  