.ToDo{
  border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.ToDo-form{
    border: 1px solid red;
    display: none;
}

.show{
    display: block;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.ToDo-edit-input{
    border: 1px solid green;
}

.High{
    border: 4px solid red;
}

.Medium{
    border: 4px solid blue;
}

.Low{
    border: 4px solid green;
}

