.ToDo{
    border: 1px solid blue;
    width: 80%;
    margin: auto;
}

.ToDo-form{
    border: 1px solid red;
    display: none;
}

.show{
    display: block;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.ToDo-edit-input{
    border: 1px solid green;
}

