.Todo-list{

}

.Wrapper{
  min-height: 85vh;
  margin-left: 300px;
  border: 1px solid blue;
}

.List{
  padding-left: 0;
  list-style-type: none;

}




.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#Nav-icon{
  position: relative;
  bottom: 2px;
  
}

.sidebar .Nav-item {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar .Nav-item.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar .Nav-item:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 576px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar .Nav-item {float: left;}
  .Wrapper {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar .Nav-item {
    text-align: center;
    float: none;
  }
}