.Project-container.active {
  background-color: #04AA6D;
}

 .Project-container:hover:not(.active) {
  background-color: #555;
}


.Project-count{
  display: block;
  height: 25px;
  width: 25px;
  line-height: 25px;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: white;
  color: var(--dark-purple);
  text-align: center;
 
}