.Project-body {
  width: 90%;
}

.Project-title {
  transition: 0.3s;
  position: relative;
  top: 2.5px;
}

 .Project:hover {
  background-color: rgb(56, 56, 56);
}

.Project:hover .Project-title {
 padding-left: 3px;
}

.Project-trash {
  position: relative;
  right: 4px;
}

.Project-count {
  display: block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  -moz-border-radius: 30px;
  border-radius: 30px; 
  color: var(--purple);
  text-align: center;
  position: relative;
  top: 2px;
}