.Todo{
    margin:  20px auto;
    width: 85%!important;
   /* border: 1px solid aqua;*/
}

.Todo-body{
    background-color: var(--light-grey-color);
}

.Todo-edit{
  color: #343a40;
}

.Todo-edit:hover{
  color: #131516;
}

.Todo-trash{
  color: var(--danger-red);
}

.Todo-trash:hover {
  color: var(--danger-red-hover);
}

.Container{
    width: 27px;
    height: 27px;
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 25px; /*Makes it round*/
  }

  .tick-hidden{
    opacity: 0;
  }

  .tick-shown{
    opacity: 1;
  }
   
 .tick{
   font-weight: bold;
   
 }
 
 .Container:hover .tick {
  opacity: 1;
}
 

@media screen and (min-width: 576px) {
  .Todo{
    width: 60%!important;
  }
}

