.Todo {
  transition: 0.3s;
}

.Todo:hover {
  transform: translate(-1px, -1px);
  box-shadow: 5px 10px 8px #888888;
}

.Todo-edit {
  color: #343a40;
  transition: 0.2s;
}

.Todo-edit:hover {
  color: #131516;
}

.Todo-trash {
  color: var(--danger-red);
  transition: 0.2s;
}

.Todo-trash:hover {
  color: var(--danger-red-hover);
}

.Todo-checkbox {
  width: 27px;
  height: 27px;
  background-color: aliceblue;
  border-radius: 25px;
}

.Todo-tick-hidden {
  opacity: 0;
}

.Todo-tick-shown {
  opacity: 1;
}
   
.Todo-tick {
  font-weight: bold;
  transition: 0.2s;
}
 
.Todo-checkbox:hover .Todo-tick {
  opacity: 1;
}